*{
  margin:  0;
  padding: 0;

}


.cardHighlight{
  min-height: 100%;
  font-size: 24px;

}

.navbar {
  background-color: #F16E10;
  
}
.App {
  background-image: url('https://img.freepik.com/premium-photo/glass-with-whisky-cognac-another-type-alcohol-with-splashes-from-ice-cube-wooden-background_288539-20.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-size: auto; /* or any other value that suits your design */
}
